.button {
  margin-bottom: 10px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 3px 14px 0px #e2dfdf;

  &:hover{
    box-shadow:  16px 16px 44px rgb(238,236,236), 
           -16px -16px 44px #ececee;
    transition: 0.3s all ease-in-out;
  }

}